#parte-blanca{
    height: 1200px;
    width: 100%;
    background-color: white;
}
#introCursosText{
    width: 500px;
    height: 250px;
}
.carousel-inner{
    max-height: 20rem;
    min-height: 10rem;
    border-radius: 15px;
}
#textForCarrusel{
    background-color: silver;
    width: 100%;
    max-height: 20rem;
    min-height: 10rem;
    border-radius: 15px;
}
.textInDiv{
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
    font-size: 17px;
}
@media(max-width:768px){
    #introCursosText{
        width: 90% !important;
    }
    #textForCarrusel{
        width: 100% !important;
    }
    .textInDiv{
        font-size: 15px !important;
    }
    .container-fluid{
        margin-top: 10% !important;
    }
    #parte-blanca{
        width: 100% !important;
    }
}
@media(max-width:576px){
    #introCursosText{
        width: 50% !important;
    }
    #textForCarrusel{
        width: 100% !important;
        margin-top: 10px !important;
    }
    .textInDiv{
        font-size: 15px !important;
    }
    .container-fluid{
        margin-top: 60% !important;
    }
    .parte-blanca{
        width: 100% !important;
    }



}