.modulos {
 background-color: #191c24;
 color: wheat;
 
}
.navbar {
  background-color: #191c24;
  position: relative; /* O utiliza "fixed" si quieres que sea fijo en la parte superior */
  z-index: 1000; /* Ajusta el valor según sea necesario */
}

.navbarVC {
  background: linear-gradient(to left, #fca311, #faa307);
  color: rgb(25, 79, 0);
}
.videoCard {
  color: #faa307;
}
.Cuerpodiv{
padding: 0 30px 0 30px;
border-radius: 15px;  background-color: #191c24;
}

.colorNavbar{
  margin-bottom: 30px;
  background-color: #191c24;
}
.color-icon{
  color: orange;
}

.no-border{
  border: none;
}
.color-body{
  color: antiquewhite;
  background: #191c24;
}
.nav-link{
  color: #fca311;
}
.no-padding-left{
  padding-left:0 ;
  margin-right:10px ;
}

.margin-right{
  margin-right: 20px;
}